* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 

body {
	width: 100%;
	margin: 30px auto;
	font-family: 'Montserrat', sans-serif;
  	font-size: 10px;
  	line-height: 1.5;
  	color: #EEE;
  	background-image:url(../img/global_room_b&w.jpg);
  	background-repeat:repeat-y;
  	background-size: 100%;
}

#hero {}
.container{
	width:80%;
	height: 400px;
	margin:80px auto;
	border: solid white 3px;
}


/* ---- links ---- */

a,
a code {
  color: white;
  text-decoration: none;
}

a:hover,
a:hover code {
  color:#999;
}

a:active,
a:active code {
  color: white;
  background: black;
}


p{
	font-size:13px;
}

h3 {
	font-family:Consolas, "Andale Mono", "Lucida Console", 
	"Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-weight:100;
	letter-spacing:1px;
	color:white;
	text-align:center;
	font-size:15px;
	}
	
.folder {
	width:270px;
	margin-top:-48px;
	margin-bottom:0px;	
	margin-right:-3px;
	 border-left:solid 3px white;
	 border-top:solid 3px white;
	 border-right:solid 3px white;
	 padding:10px;
	 float:right;
	 }	

/* ---- lists ---- */

ul, ol {
  padding-left: 1.8em;
}

footer {
	color: white;
	font-weight:400;
	font-size:10px;
	margin: 10px 170px;
}

footer a:{color: white;}