

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  border-right:solid 3px white;
  border-bottom:solid 3px white;
  color: white;
  font-size:12px;
  font-weight: 500;
  cursor: pointer;
  float:left;
  letter-spacing:2px;
}

.demo .button:first-child {
background-color:white;
color:black;
}

.all button{
	display: inline-block;
	background-color:transparent;
  	padding: 0.6em 0;
  	border-right:solid 3px white;
  	border-bottom:solid 3px white;
	border-left:none;
	border-top:none;
  	color: white;
	font-size:12px;
	width:56px;
  	font-weight: 500;
  	cursor: pointer;
  	letter-spacing:2px;
	}



.button:hover {
  background-color: white;
  color: black;
}

.button:active,
.button.is-checked {
  background-color: white;
  color: black;
}

.button.is-checked {
  color: black;
}

/* hide radio inputs */
.button input[type="radio"] { display: none; }

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}
