

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  border:solid 3px white;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}

.button:active,
.button.is-checked {
  background-color: white;
  color: black;
}

.button.is-checked {
  color: black;
}


/* hide radio inputs */
.button input[type="radio"] { display: none; }

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}
